@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif; }

h1 {
  text-transform: uppercase;
  padding-bottom: 10px; }

hr {
  width: 4%;
  border: solid 2px #404040;
  margin-bottom: 30px; }

/*header*/
header {
  background-color: #FFEFD4;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  header .menuPrincipal {
    width: 100%; }
    header .menuPrincipal a {
      color: #000; }
      header .menuPrincipal a p {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding-left: 30px;
        width: 200px;
        font-size: 30px;
        font-weight: 600;
        margin: 0; }
    header .menuPrincipal a:hover {
      text-decoration: none;
      color: #404040; }
  header .menuPrincipal ul {
    list-style: none;
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center; }
    header .menuPrincipal ul li a {
      color: #404040;
      text-decoration: none;
      margin: 0 20px; }
    header .menuPrincipal ul li a:hover {
      border-bottom: 2px solid #404040;
      padding-bottom: 5px; }
  header div {
    padding-right: 30px;
    width: 200px;
    display: flex;
    justify-content: flex-end; }
    header div i {
      font-size: 25px;
      margin-left: 10px; }

/*footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEFD4;
  height: 10vh; }

/*------ INDEX ------*/
.hero {
  background-image: url("../img/hero.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .hero div {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    margin-top: 50px; }
    .hero div .tituloPrincipal {
      color: white;
      text-transform: initial;
      font-size: 30px; }
      .hero div .tituloPrincipal span {
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif; }
    .hero div button {
      width: 180px;
      padding: 10px;
      margin-top: 20px;
      border: none;
      background-color: #FFEFD4;
      color: black;
      font-size: 18px;
      border: 1px solid #FFEFD4; }
    .hero div button:hover {
      background-color: white;
      color: black;
      cursor: pointer;
      border: 1px solid #FFEFD4; }

.hero::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

/*------ SERVICIOS ------*/
.mainServicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainServicios .servicios {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 100px 0 50px;
    text-align: center; }
    .mainServicios .servicios p {
      font-size: 20px; }
  .mainServicios .servicios2 {
    padding-bottom: 10vh;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "servicio4 servicio5 servicio6" "servicio1 servicio2 servicio3";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    /*for*/ }
    .mainServicios .servicios2 .servicio1 {
      grid-area: servicio1; }
    .mainServicios .servicios2 .servicio2 {
      grid-area: servicio2; }
    .mainServicios .servicios2 .servicio3 {
      grid-area: servicio3; }
    .mainServicios .servicios2 .servicio4 {
      grid-area: servicio4; }
    .mainServicios .servicios2 .servicio5 {
      grid-area: servicio5; }
    .mainServicios .servicios2 div {
      text-align: center;
      background-color: white;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.08);
      padding: 30px; }
      .mainServicios .servicios2 div i {
        font-size: 50px;
        margin-bottom: 20px; }
      .mainServicios .servicios2 div h4 {
        margin-bottom: 10px;
        font-size: 20px; }
      .mainServicios .servicios2 div p {
        text-align: justify; }
    .mainServicios .servicios2 div:hover {
      color: #FFEFD4;
      background-color: dimgray;
      transition: 0.5s;
      cursor: pointer; }
  .mainServicios .aboutMe {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 50px; }
    .mainServicios .aboutMe p {
      font-size: 20px;
      text-align: justify; }
    .mainServicios .aboutMe img {
      width: 60%;
      margin: 30px 0; }

/*------ PORTAFOLIO------*/
.portafolio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 100px 0; }
  .portafolio .grillaPortafolio {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-template-areas: "auno ados atres";
    /*map*/ }
    .portafolio .grillaPortafolio .portafolio__imagenes {
      display: grid;
      grid-row-gap: 10px;
      grid-template-areas: "va" "vb" "vc" "vd" "ve" "vf";
      /*each*/ }
      .portafolio .grillaPortafolio .portafolio__imagenes .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 20px;
        top: -20px;
        left: -20px;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
        cursor: pointer;
        opacity: 1; }
        .portafolio .grillaPortafolio .portafolio__imagenes .overlay:hover {
          display: block;
          opacity: 0;
          transition: .3s; }
      .portafolio .grillaPortafolio .portafolio__imagenes div {
        margin: 20px; }
        .portafolio .grillaPortafolio .portafolio__imagenes div:hover {
          cursor: pointer; }
        .portafolio .grillaPortafolio .portafolio__imagenes div img {
          width: 100%; }
    .portafolio .grillaPortafolio .auno .aunoa {
      grid-area: va;
      position: relative; }
    .portafolio .grillaPortafolio .auno .aunob {
      grid-area: vb;
      position: relative; }
    .portafolio .grillaPortafolio .auno .aunoc {
      grid-area: vc;
      position: relative; }
    .portafolio .grillaPortafolio .auno .aunod {
      grid-area: vd;
      position: relative; }
    .portafolio .grillaPortafolio .auno .aunoe {
      grid-area: ve;
      position: relative; }
    .portafolio .grillaPortafolio .auno .aunof {
      grid-area: vf;
      position: relative; }
    .portafolio .grillaPortafolio .ados .adosa {
      grid-area: va;
      position: relative; }
    .portafolio .grillaPortafolio .ados .adosb {
      grid-area: vb;
      position: relative; }
    .portafolio .grillaPortafolio .ados .adosc {
      grid-area: vc;
      position: relative; }
    .portafolio .grillaPortafolio .ados .adosd {
      grid-area: vd;
      position: relative; }
    .portafolio .grillaPortafolio .ados .adose {
      grid-area: ve;
      position: relative; }
    .portafolio .grillaPortafolio .ados .adosf {
      grid-area: vf;
      position: relative; }
    .portafolio .grillaPortafolio .atres .atresa {
      grid-area: va;
      position: relative; }
    .portafolio .grillaPortafolio .atres .atresb {
      grid-area: vb;
      position: relative; }
    .portafolio .grillaPortafolio .atres .atresc {
      grid-area: vc;
      position: relative; }
    .portafolio .grillaPortafolio .atres .atresd {
      grid-area: vd;
      position: relative; }
    .portafolio .grillaPortafolio .atres .atrese {
      grid-area: ve;
      position: relative; }
    .portafolio .grillaPortafolio .atres .atresf {
      grid-area: vf;
      position: relative; }
    .portafolio .grillaPortafolio .auno {
      grid-area: auno; }
    .portafolio .grillaPortafolio .ados {
      grid-area: ados; }
    .portafolio .grillaPortafolio .atres {
      grid-area: atres; }
    .portafolio .grillaPortafolio .acuatro {
      grid-area: acuatro; }
    .portafolio .grillaPortafolio .acinco {
      grid-area: acinvco; }
    .portafolio .grillaPortafolio .aseis {
      grid-area: aseis; }

/*------ SOBRE MI ------*/
.sobremi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-top: 100px; }
  .sobremi .tarjetaClientes {
    width: 70%;
    display: flex;
    justify-content: center; }
    .sobremi .tarjetaClientes p {
      padding: 20px;
      text-align: justify;
      margin-bottom: 50px;
      width: 50%; }
  .sobremi .curriculum {
    display: flex;
    width: 70%;
    margin-bottom: 50px; }
    .sobremi .curriculum .foto_perfil {
      width: 30%; }
      .sobremi .curriculum .foto_perfil img {
        border-radius: 0;
        width: 100%; }
    .sobremi .curriculum .info {
      width: 70%;
      padding: 0 30px; }
      .sobremi .curriculum .info #parrafoTitulo {
        font-size: 23px;
        margin-bottom: 30px; }
      .sobremi .curriculum .info div {
        display: flex;
        justify-content: space-between; }
        .sobremi .curriculum .info div ul {
          list-style: none; }
  .sobremi .skills {
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: "contenido html" "facebook css" "google js"; }
    .sobremi .skills .barra {
      width: 90%;
      justify-self: center;
      align-self: center; }
      .sobremi .skills .barra .progress-bar {
        background-color: #404040;
        color: #FFEFD4;
        position: relative;
        left: -500px;
        transform: translateX(500px);
        transition: 3s; }
    .sobremi .skills .contenido {
      grid-area: contenido; }
    .sobremi .skills .html {
      grid-area: html; }
    .sobremi .skills .facebook {
      grid-area: facebook; }
    .sobremi .skills .css {
      grid-area: css; }
    .sobremi .skills .google {
      grid-area: google; }
    .sobremi .skills .js {
      grid-area: js; }
  .sobremi .carousel {
    width: 100%;
    width: 70%;
    margin-bottom: 10vh; }
    .sobremi .carousel .carousel-inner .carousel-item {
      height: 320px; }
      .sobremi .carousel .carousel-inner .carousel-item h5 {
        color: #000;
        font-weight: bolder;
        margin: 10px 0 20px 0; }
      .sobremi .carousel .carousel-inner .carousel-item p {
        color: #404040; }
  .sobremi img {
    width: 150px;
    border-radius: 150px; }

/*------ CONTACTO ------*/
.contacto,
.contacto2 {
  display: flex;
  align-items: center; }

.contacto {
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 100px; }
  .contacto p {
    width: 80%;
    padding-bottom: 30px;
    text-align: justify; }
  .contacto div {
    width: 100%;
    display: flex;
    justify-content: center; }

.contacto2 {
  justify-content: center;
  padding: 5vh 0;
  width: 100%; }
  .contacto2 .contenedorInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    margin-left: 20px; }
    .contacto2 .contenedorInfo .info {
      display: flex;
      margin: 10px 0; }
      .contacto2 .contenedorInfo .info i {
        width: 40px;
        height: 40px;
        align-self: center;
        text-align: center;
        font-size: 20px;
        background-color: #FFEFD4;
        border-radius: 20px;
        padding: 10px; }
  .contacto2 form {
    width: 50%; }
    .contacto2 form .inputFlex {
      display: flex;
      justify-content: space-between; }
    .contacto2 form .contenedorInput {
      margin: 0; }
      .contacto2 form .contenedorInput input,
      .contacto2 form .contenedorInput #input,
      .contacto2 form .contenedorInput .input2 {
        height: 30px;
        padding: 5px;
        border: solid 1px #404040;
        margin-bottom: 20px; }
      .contacto2 form .contenedorInput input {
        width: 45%; }
      .contacto2 form .contenedorInput #input {
        width: 100%; }
      .contacto2 form .contenedorInput .input2 {
        width: 100%;
        height: 120px; }
    .contacto2 form .contenedorBoton {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0; }
      .contacto2 form .contenedorBoton button {
        width: 200px;
        padding: 10px;
        border: none;
        background-color: #404040;
        color: white;
        font-size: 18px;
        border: 1px solid black; }
      .contacto2 form .contenedorBoton button:hover {
        background-color: white;
        color: black;
        cursor: pointer;
        border: 1px solid black; }

@media only screen and (min-width: 768px) {
  .sobremi .carousel .carousel-inner .carousel-item {
    height: 380px; } }

@media only screen and (max-width: 992px) {
  .mainServicios .servicios2 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "servicio4 servicio5" "servicio6 servicio1" "servicio2 servicio3"; }
  .portafolio .grillaPortafolio {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "auno ados" "atres atres"; }
  .portafolio .grillaPortafolio .atres {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "va vb" "vc vd" "ve vf"; }
  .sobremi .curriculum .foto_perfil {
    width: 50%; }
  .sobremi .curriculum .info {
    width: 50%; }
  .sobremi .curriculum .info div {
    display: block; } }

@media only screen and (max-width: 767px) {
  .hero div {
    width: 480px; }
  .aboutMe {
    width: 70%;
    text-align: center; }
  .sobremi .tarjetaClientes {
    display: block; }
  .sobremi .tarjetaClientes p {
    width: 100%;
    margin-bottom: 10px;
    padding: 0; }
  .sobremi .tarjetaClientes .tarjetaClientes__p2 {
    margin-bottom: 50px; }
  .sobremi .curriculum {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .sobremi .curriculum .info {
    padding: 20px 0;
    width: 70%; }
  .sobremi .carousel {
    height: 380px; }
  .sobremi .carousel-inner {
    margin-top: 20px; }
  .sobremi .carousel-caption {
    height: 100%; }
  .contacto2 {
    height: 100%;
    flex-direction: column; }
  .contacto2 .contenedorInfo {
    width: 80%; }
  .contacto2 form {
    width: 80%; }
  .contacto2 form .inputFlex {
    display: block; }
  .contacto2 form .contenedorInput input {
    width: 100%; } }

@media only screen and (max-width: 600px) {
  .mainServicios .servicios2 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "servicio4" "servicio5" "servicio6" "servicio1" "servicio2" "servicio3"; }
  .mainServicios .aboutMe img {
    width: 80%; }
  .sobremi .curriculum .foto_perfil {
    width: 70%; } }

@media only screen and (max-width: 480px) {
  .hero div {
    width: 350px; }
  .aboutMe {
    width: 70%;
    text-align: center; }
  .portafolio {
    height: 100%; }
  .portafolio .grillaPortafolio {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "auno" "ados" "atres"; }
  .portafolio .grillaPortafolio .atres {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "va"  "vb" "vc" "vd" "ve" "vf"; }
  .sobremi .curriculum .info {
    padding: 20px 0;
    width: 100%; }
  .sobremi .skills {
    width: 70%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 100px);
    grid-template-areas: "contenido" "facebook" "google" "html" "css" "js"; } }
