/*------ PORTAFOLIO------*/

.portafolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 10vh 0;
    .grillaPortafolio {
        width: 70%;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: 1fr;
        div {
            img {
                width: 100%;
            }
        }

        /*map*/
        $portafolioA: (
            uno: uno,
            dos: dos,
            tres: tres,
            cuatro: cuatro,
            cinco: cinco
        );
        @each $foto, $area in $portafolioA {
            .a#{$foto} {
                grid-area: a#{$area};
            }
        }
        
        /*each*/
        @each $portafolioV in uno, dos, tres, cuatro {
            .v#{$portafolioV} {
                grid-area: v#{$portafolioV};
            }
        }
    }
}
