/*------ PORTAFOLIO------*/

.portafolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 100px 0;
    .grillaPortafolio {
        width: 70%;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 30px;
        grid-template-areas:
        "auno vuno ados"
        "auno vuno ados"
        "vdos vuno vtres"
        "vdos atres vtres"
        "vdos atres vtres"
        "acuatro vcuatro acinco"
        "acuatro vcuatro acinco"
        ". vcuatro ." ;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                width: 100%;
            }
            img:hover {
                transform: scale(1.2);
                transition: 1s;
            }
        }

        /*map*/
        $portafolioA: (
            uno: uno,
            dos: dos,
            tres: tres,
            cuatro: cuatro,
            cinco: cinco
        );
        @each $foto, $area in $portafolioA {
            .a#{$foto} {
                grid-area: a#{$area};
            }
        }
        
        /*each*/
        @each $portafolioV in uno, dos, tres, cuatro {
            .v#{$portafolioV} {
                grid-area: v#{$portafolioV};
            }
        }
    }
}
