/*------ PORTAFOLIO------*/

@import 'flex';

.portafolio {
    @include flex (flex, column, start, center);
    width: 100%;
    padding: 100px 0 50px;
    .grillaPortafolio {
        width: 70%;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "auno ados atres"
        ;
        .portafolio__imagenes {
            display: grid;
            grid-template-areas:
            "va" "vb" "vc";
            /*each*/
            div {
                img {
                    width: 100%;
                }
            }
        }
        .auno {
            @each $portafolioUno in a, b, c {
                .auno#{$portafolioUno} {
                    grid-area: v#{$portafolioUno};
                }
            }
        }
        .ados {
            @each $portafolioDos in a, b, c {
                .ados#{$portafolioDos} {
                    grid-area: v#{$portafolioDos};
                }
            }
        }
        .atres {
            @each $portafolioTres in a, b, c {
                .atres#{$portafolioTres} {
                    grid-area: v#{$portafolioTres};
                }
            }
        }
            

        /*map*/
        $portafolio: (
            uno: uno,
            dos: dos,
            tres: tres,
        );
        @each $foto, $area in $portafolio {
            .a#{$foto} {
                grid-area: a#{$area};
            }
        }
        
    }
}
