@media only screen and (min-width: 768px) {
    .sobremi .carousel .carousel-inner .carousel-item {
        height: 380px;
    }
}

@media only screen and (max-width: 992px) {
    .mainServicios .servicios2 {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "servicio4 servicio5"
        "servicio6 servicio1"
        "servicio2 servicio3";
    }

    .sobremi .curriculum .foto_perfil {
        width: 50%;
    }

    .sobremi .curriculum .info {
        width: 50%;
    }

    .sobremi .curriculum .info div {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .hero div {
        width: 480px;
    }
    
    .aboutMe {
        width: 70%;
        text-align: center;
    }
    .sobremi .curriculum {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sobremi .curriculum .info {
        padding: 20px 0;
        width: 70%;
    }

    .sobremi .carousel {
        height: 380px;
    }
    .sobremi .carousel-inner {
        margin-top: 20px;
    }
    .sobremi .carousel-caption {
        height: 100%;
    }
    .contacto2 {
        height: 100%;
        flex-direction: column;
    }
    .contacto2 .contenedorInfo {
        width: 80%;
    }
    .contacto2 form {
        width: 80%;
    }
    .contacto2 form .inputFlex {
        display: block;
    }
    .contacto2 form .contenedorInput input {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    .mainServicios .servicios2 {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "servicio4"
        "servicio5"
        "servicio6"
        "servicio1"
        "servicio2"
        "servicio3";
    }
    .sobremi .curriculum .foto_perfil {
        width: 70%;
    }
}

@media only screen and (max-width: 480px) {
    .hero div {
        width: 350px;
    }
    .aboutMe {
        width: 70%;
        text-align: center;
    }
    .portafolio {
        height: 100%;
    }
    .portafolio .grillaPortafolio {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "auno" "ados" "atres";
    }

    .sobremi .curriculum .info {
        padding: 20px 0;
        width: 100%;
    }

    .sobremi .skills {
        width: 70%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 100px);
        grid-template-areas:
            "contenido"
            "facebook"
            "google"
            "html"
            "css"
            "js";
    }
}