@import 'variables';

/*------ SERVICIOS ------*/

.mainServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .servicios {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 10vh 0 5vh;
        text-align: center;
    }
    .servicios2 {
        padding-bottom: 10vh;
        width: 70%;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "servicio4 servicio5 servicio6"
        "servicio1 servicio2 servicio3";
        grid-column-gap: 30px;
        grid-row-gap: 30px;

        /*for*/
        @for $servicio from 1 to 6 {
            .servicio#{$servicio} {
                grid-area:servicio#{$servicio};
            }
        }
        
        div {
            text-align: center;
            background-color: $backgroundColor;
            box-shadow: 0 0 35px rgba(0,0,0,0.08);
            padding: 30px;
            i {
                font-size: 50px;
                margin-bottom: 20px;
            }
            h4 {
                margin-bottom: 10px;
                font-size: 20px;
            }
            p {
                text-align: center;
            }
        }
        div:hover {
            color: $colorDamasco;
            background-color: rgb(105, 105, 105);
            transition: 0.5s;
            cursor: pointer;
        }
    }
    .aboutMe {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}






